{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
            {% set _ = session.pop('_flashes', None) %}
        {% endif %}
    {% endwith %}

    <h2>Pacientes</h2>
    <a href="{{ url_for('admin.add_pacient') }}">+ Adicionar Paciente</a>
    {% if pacients %}
        <ul>
            {% for pacient in pacients %}
                <li>
                    {{ pacient.name }} | CPF: {{ pacient.cpf }} |
                    Tel: {{ pacient.tel_number }} | E-mail: {{ pacient.email }}
                    &nbsp;
                    <a href="{{ url_for('admin.view_pacient', id=pacient.id) }}" target="_blank">Ver Paciente</a>
                    &nbsp;
                    <a href="{{ url_for('admin.edit_pacient', id=pacient.id) }}">Editar</a>
                    &nbsp;
                    <a href="{{ url_for('admin.delete_pacient', id=pacient.id) }}">Remover</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Ainda não existem pacientes cadastrados no sistema</h3>
    {% endif %}
{% endblock %}
