{% extends "base.html" %}

{% block content %}

<h2>Adicionar Dieta</h2>
<form class="add-diet-form" method="POST" enctype="multipart/form-data" action="{{ url_for('diets.add_diet') }}">
    {{ form.hidden_tag() }}
    <label for="name">Nome:</label>
    {{ form.name(id="diet-select") }}
    <br>
    <div id="other-name-field" style="display: none;">
        <label for="other_name">Outro (especifique):</label>
        {{ form.other_name() }}
    </div>
    <br>
    <label for="description">Descrição:</label>
    {{ form.description() }}
    <br>
    <label for="diet_file">Arquivo da Dieta:</label>
    {{ form.diet_file() }}
    <br>
    <button type="submit">Salvar Dieta</button>
</form>
<hr>
<br>
<div class="nav-actions">
    <a href="{{ url_for('diets.list_diets') }}" class="btn btn-secondary back-button">🔙 Voltar</a>
</div>
<script src="{{ url_for('static', filename='js/add_diet.js') }}"></script>

{% endblock %}
