{% extends "base.html" %}

{% block content %}

<h2>Remover Dieta</h2>
<p>Tem certeza de que deseja remover {{ diet.name }}?</p>
<form class="delete-diet-form" method="POST" action="{{ url_for('diets.delete_diet', id=diet.id) }}">
    <button type="submit">Confirmar Remoção</button>
    <a class="remove-button" href="{{ url_for('diets.list_diets') }}">Cancelar</a>
</form>
<hr>
<br>
<div class="nav-actions">
    <a href="{{ url_for('diets.list_diets') }}" class="btn btn-secondary back-button">🔙 Voltar</a>
</div>
{% endblock %}
