{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% set _ = session.pop('_flashes', None) %}
{% endif %}
{% endwith %}

<h2>Dietas Disponíveis</h2>

<form method="GET" action="{{ url_for('diets.list_diets') }}">
    <input type="text" name="query" placeholder="Buscar dietas..." value="{{ search_query }}">
    <button type="submit">Buscar</button>
    {% if search_query %}
        <a href="{{ url_for('diets.list_diets') }}">Limpar Busca</a>
    {% endif %}
</form>
<br>

<a href="{{ url_for('diets.add_diet') }}">+ Adicionar Dietas</a>
<br>
<hr>
{% if diets %}
<ul>
    {% for diet in diets %}
    <br>
    <li><strong>{{ diet.name }}</strong> -
        <a class="view-button" href="{{ url_for('diets.view_diet', id=diet.id) }}" target="_blank">Ver</a>
        &nbsp;
        <a class="remove-button" href="{{ url_for('diets.delete_diet', id=diet.id) }}">Remover</a>
        &nbsp;
        <a class="edit-button" href="{{ url_for('diets.edit_diet', id=diet.id) }}">Editar para Enviar</a>
        {% if diet.temp_diet_file %}
        &nbsp;
        <a class="edit-button" href="{{ url_for('diets.view_last_edition', id=diet.id) }}">Ver Última Edição</a>
        {% endif %}

        <form id="send-diet-form-{{ diet.id }}" method="POST">
            {% if diet.temp_diet_file %}
            <span id="auto_calc_info" style="font-size: 9px; margin-left: 10px; color: #e90000;">
                ANTES DE ENVIAR A DIETA, CERTIFIQUE DE REVISAR AS ALTERAÇÕES NO BOTÃO <strong>"Ver Última Edição"</strong>
            </span>
            <br>
            {% endif %}
            <select name="patient_id" required>
                <option value="">Selecione</option>
                {% for patient in patients %}
                <option value="{{ patient.id }}">{{ patient.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" formaction="{{ url_for('diets.send_diet_wpp', diet_id=diet.id) }}">
                Enviar por WhatsApp
            </button>
            <button type="submit" formaction="{{ url_for('diets.send_diet_email', diet_id=diet.id) }}">
                Enviar por Email
            </button>
          </form>
    </li>
    <br>
    <hr>
    {% endfor %}
</ul>
{% else %}
<h3>Ainda não existem dietas armazenadas</h3>
{% endif %}

{% endblock %}
