{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% set _ = session.pop('_flashes', None) %}
{% endif %}
{% endwith %}

<h2>Dietas Disponíveis</h2>
<a href="{{ url_for('diets.add_diet') }}">+ Adicionar Dietas</a>
{% if diets %}
<ul>
    {% for diet in diets %}
    <br>
    <li><strong>{{ diet.name }}</strong> -
        <a class="view-button" href="{{ url_for('diets.view_diet', id=diet.id) }}" target="_blank">Ver</a>
        &nbsp;
        <a class="edit-button" href="{{ url_for('diets.edit_diet', id=diet.id) }}">Editar Arquivo</a>
        &nbsp;
        <a class="remove-button" href="{{ url_for('diets.delete_diet', id=diet.id) }}">Remover</a>
        <form id="send-diet-form-{{ diet.id }}" method="POST">
            <select name="patient_id" required>
                {% for patient in patients %}
                <option value="{{ patient.id }}">{{ patient.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" formaction="{{ url_for('diets.send_diet_wpp', diet_id=diet.id) }}">
                Enviar por WhatsApp
            </button>
            <button type="submit" formaction="{{ url_for('diets.send_diet_email', diet_id=diet.id) }}">
                Enviar por Email
            </button>
          </form>
    </li>
    <br>
    <hr>
    {% endfor %}
</ul>
{% else %}
<h3>Ainda não existem dietas armazenadas</h3>
{% endif %}

{% endblock %}
