{% extends "base.html" %}

{% block content %}

<h2>Enviar Dieta</h2>
<form class="send-diet-form" method="POST" action="{{ url_for('diets.send_diet', diet_id=diet.id) }}">
    <label for="telefone">Número de telefone:</label>
    <input type="text" name="telefone" placeholder="(00) 00000-0000" required>
    <br>
    <button type="submit">Enviar Dieta</button>
</form>
<hr>
<br>
<div class="nav-actions">
    <a href="{{ url_for('diets.list_diets') }}" class="btn btn-secondary back-button">🔙 Voltar</a>
</div>
{% endblock %}
