{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pdf_editor.css') }}">
{% endblock %}

{% block content %}

<h2>{{ diet.name }}</h2>
<br>
<p><strong>Descrição:</strong> {{ diet.description }}</p>

<div id="pdf-container">
    <canvas id="pdf-canvas"></canvas>
</div>
<div style="text-align: center; margin: 10px 0;">
    <button id="prev-page">⬅ Página anterior</button>
    <span id="page-info">Página 1</span>
    <button id="next-page">Próxima página ➡</button>
</div>

{% if diet.diet_file %}
<p>
    📄 <a href="{{ diet.diet_file }}" target="_blank" download>Baixar Arquivo Original</a>
</p>
{% endif %}

<hr>
<br>
<div class="nav-actions">
    <a class="back-button" href="{{ url_for('diets.list_diets') }}">🔙 Voltar</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.min.js"></script>
<script>
  pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.worker.min.js";
</script>

<script>
  const pdfUrl = "{{ pdf_url }}";
</script>

<script src="{{ url_for('static', filename='js/render_diet.js') }}" defer></script>
{% endblock %}
