{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% set _ = session.pop('_flashes', None) %}
{% endif %}
{% endwith %}

<h2>Pregas Cutâneas</h2>
<p><strong>Paciente:</strong> {{ patient.name }}</p>
<form class="add-skinfold-form" method="POST" action="{{ url_for('patients.add_skinfold', patient_id=patient.id) }}">
    {{ form.hidden_tag() }}
    <label for="data_medicao">Data de Medição:</label>
    {{ form.data_medicao() }}
    <br>
    <label for="massa_muscular">Massa Muscular:</label>
    {{ form.massa_muscular(step="0.01") }}
    <br>
    <label for="gordura">Gordura:</label>
    {{ form.gordura(step="0.01") }}
    <br>
    <label for="abdominal">Abdominal:</label>
    {{ form.abdominal(step="0.01") }}
    <br>
    <label for="cintura">Cintura:</label>
    {{ form.cintura(step="0.01") }}
    <br>
    <label for="quadril">Quadril:</label>
    {{ form.quadril(step="0.01") }}
    <br><br>
    <button type="submit">Salvar Pregas</button>
</form>

<hr>
<br>
<div class="nav-actions">
    <a class="back-button" href="{{ url_for('patients.list_patients') }}">🔙 Voltar</a>
</div>

{% endblock %}
