{% extends "base.html" %}

{% block content %}

<h2>Remover Paciente</h2>
<p>Tem certeza de que deseja remover {{ patient.name }} - CPF: {{ patient.cpf }}?</p>
<form class="delete-patient-form" method="POST" action="{{ url_for('admin.delete_patient', id=patient.id) }}">
    <button type="submit">Confirmar Remoção</button>
    <a class="remove-button" href="{{ url_for('admin.list_patients') }}">Cancelar</a>
</form>
<hr>
<br>
<div class="nav-actions">
    <a href="{{ url_for('admin.list_patients') }}" class="btn btn-secondary back-button">🔙 Voltar</a>
</div>
{% endblock %}
