{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% set _ = session.pop('_flashes', None) %}
{% endif %}
{% endwith %}

<h2>Editar Pregas Cutâneas</h2>
<section class="editing">
    <p><strong>Paciente:</strong> {{ skinfold.patient.name }}</p>
    <form class="edit-skinfold-form" method="POST"
        action="{{ url_for('admin.edit_skinfold', patient_id=skinfold.patient_id, skinfold_id=skinfold.id) }}">
        {{ form.hidden_tag() }}
        <label for="data_medicao">Data de Medição:</label>
        {{ form.data_medicao() }}
        <br>
        <label for="massa_muscular">Massa Muscular:</label>
        {{ form.massa_muscular(step="0.01") }}
        <br>
        <label for="gordura">Gordura:</label>
        {{ form.gordura(step="0.01") }}
        <br>
        <label for="abdominal">Abdominal:</label>
        {{ form.abdominal(step="0.01") }}
        <br>
        <label for="cintura">Cintura:</label>
        {{ form.cintura(step="0.01") }}
        <br>
        <label for="quadril">Quadril:</label>
        {{ form.quadril(step="0.01") }}
        <br><br>
        <button type="submit">Salvar Pregas</button>
    </form>
</section>

<hr>
<br>
<div class="nav-actions">
    <a class="back-button" href="{{ url_for('admin.edit_patient', id=skinfold.patient_id) }}">🔙 Voltar</a>
</div>

{% endblock %}
