{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% set _ = session.pop('_flashes', None) %}
{% endif %}
{% endwith %}

<h2>Editar Pregas Cutâneas</h2>
<section class="editing">
    <p><strong>Paciente:</strong> {{ skinfold.patient.name }}</p>
    <form class="edit-skinfold-form" method="POST"
        action="{{ url_for('admin.edit_skinfold', patient_id=skinfold.patient_id, skinfold_id=skinfold.id) }}">
        {{ form.hidden_tag() }}
        <label for="data_medicao">Data de Medição:</label>
        {{ form.data_medicao() }}
        <br>
        <label for="triciptal">Triciptal:</label>
        {{ form.triciptal(step="0.01") }}
        <br>
        <label for="bicipital">Bicipital:</label>
        {{ form.bicipital(step="0.01") }}
        <br>
        <label for="subscapula">Subscápula:</label>
        {{ form.subscapula(step="0.01") }}
        <br>
        <label for="toracica">Torácica:</label>
        {{ form.toracica(step="0.01") }}
        <br>
        <label for="axilar">Axilar Média:</label>
        {{ form.axilar(step="0.01") }}
        <br>
        <label for="supra">Supra Ilíaca:</label>
        {{ form.supra(step="0.01") }}
        <br>
        <label for="abdominal">Abdominal:</label>
        {{ form.abdominal(step="0.01") }}
        <br>
        <label for="coxa">Coxa:</label>
        {{ form.coxa(step="0.01") }}
        <br>
        <label for="panturrilha">Panturrilha:</label>
        {{ form.panturrilha(step="0.01") }}
        <br><br>
        <button type="submit">Salvar Pregas</button>
    </form>
</section>

<hr>

<div class="nav-actions">
    <a class="back-button" href="{{ url_for('admin.edit_patient', id=skinfold.patient_id) }}">🔙 Voltar</a>
</div>

{% endblock %}
