{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% set _ = session.pop("_flashes", None) %}
{% endif %}
{% endwith %}

<h2>Pacientes</h2>
<a href="{{ url_for('patients.add_patient') }}">+ Cadastrar Paciente</a>
<br><br>

<form method="GET" action="{{ url_for('patients.list_patients') }}">
    <input type="text" name="search" placeholder="Pesquisar paciente" value="{{ search_query }}">
    <button type="submit">Pesquisar</button>
</form>
{% if search_query and search_empty %}
    <p>Nenhum paciente foi encontrado com essa pesquisa.</p>
{% endif %}

{% if patients %}
<!-- Alternate patients view -->
<a href="#" id="toggle-patients" onclick="togglePatients(event)">
    Mostrar {{ patients|length }} pacientes
</a>
<!-- Patients list -->
<div class="listings" id="patients-list" style="display: none;">
    <ul>
        {% for patient in patients|sort(attribute="name") %}
        <li>
            {{ patient.name }} | CPF: {{ patient.cpf }} |
            Tel: {{ patient.tel_number }} | E-mail: {{ patient.email }}
            &nbsp;
            <a class="view-button" href="{{ url_for('patients.view_patient', id=patient.id) }}" target="_blank">Ver
                Paciente</a>
            &nbsp;
            <a class="edit-button" href="{{ url_for('patients.edit_patient', id=patient.id) }}">Editar</a>
            &nbsp;
            <a class="remove-button" href="{{ url_for('patients.delete_patient', id=patient.id) }}">Remover</a>
        </li>
        {% endfor %}
    </ul>
    <!-- Pagination controls -->
    <div id="pagination-controls"></div>
</div>

<hr>

<div class="add-anthro-info">
    <h3>Adicionar Informações Antropométricas</h3>
    <form class="add-anthro-form" id="anthro-form" method="GET">
        <label for="patient_select">Selecione o Paciente:</label>
        <span style="font-size: 10px; margin-left: 11px; color: #555;">
            Ao clicar, experimente começar a digitar o nome do paciente para uma busca mais rápida
        </span>
        <br>
        <select id="patient_select" name="patient_id">
            <option value="">Selecione um paciente</option>
            {% for patient in patients %}
            <option value="{{ patient.id }}">{{ patient.name }} | CPF: {{ patient.cpf }}</option>
            {% endfor %}
        </select>
        <button type="submit" onclick="redirectAnthro(event)">Realizar Avaliação</button>
    </form>
</div>

<hr>

<div class="add-skinfold-info">
    <h3>Adicionar Dados de Bioimpedância</h3>
    <form class="add-skinfold-form" id="skinfold-form" method="GET">
        <label for="patient_select_skinfold">Selecione o Paciente:</label>
        <span style="font-size: 10px; margin-left: 11px; color: #555;">
            Ao clicar, experimente começar a digitar o nome do paciente para uma busca mais rápida
        </span>
        <br>
        <select id="patient_select_skinfold" name="patient_id">
            <option value="">Selecione um paciente</option>
            {% for patient in patients %}
            <option value="{{ patient.id }}">{{ patient.name }} | CPF: {{ patient.cpf }}</option>
            {% endfor %}
        </select>
        <button type="submit" onclick="redirectSkinfold(event)">Aferir Bioimpedância</button>
    </form>
</div>
{% else %}
<h3>Ainda não existem pacientes cadastrados no sistema</h3>
{% endif %}

<!-- Assign global variables with dynamic URLs -->
<script>
    var addAnthroUrlTemplate = "{{ url_for('patients.add_anthro', patient_id=0) }}";
    var addSkinfoldUrlTemplate = "{{ url_for('patients.add_skinfold', patient_id=0) }}";
</script>
<script src="{{ url_for('static', filename='js/list_patients.js') }}"></script>

{% endblock %}
