{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% set _ = session.pop("_flashes", None) %}
{% endif %}
{% endwith %}

<h2 class="page-title">Histórico do Paciente</h2>

{% if patient %}
<div class="action-bar" style="text-align: right; margin-bottom: 10px;">
    <button onclick="window.print()" class="print-button">🖨️ Imprimir Histórico</button>
</div>

<div class="patient-card modern-card">
    <div class="patient-info">
        <p><strong>Nome:</strong> {{ patient.name }}</p>
        <p><strong>CPF:</strong> {{ patient.cpf }}</p>
        <p><strong>Idade:</strong> {{ patient_age }}</p>
        <p><strong>1ª Avaliação Física:</strong> {{ initial_evaluation_date }}</p>
        {% if patient.specialist %}
        <p><strong>Profissional:</strong> {{ patient.specialist.name }} - {{ patient.specialist.email }}</p>
        {% endif %}
    </div>

    <div class="details-container">
        <div class="patient-details">
            <h3 style="color: rgb(1, 134, 6);">Detalhamento</h3>
            <fieldset style="padding: 10px; width: 60%; height: auto;">
                <p><strong>IMC Atual:</strong> {{ last_imc }}</p>
                <p><strong>Altura:</strong> {{ height }}</p>
                <p><strong>Percentual de Gordura:</strong> {{ fat_percentual }}</p>
                <p><strong>Percentual de Massa Magra:</strong> {{ muscle_percentual }}</p>
                <p><strong>Peso Inicial:</strong> {{ initial_weight_evaluated }}</p>
                <p><strong>Peso Atual:</strong> {{ last_weight_evaluated }}</p>
                <p><strong>Peso Ideal:</strong> {{ ideal_weight }}</p>
                <p><strong>Resultado Final:</strong> {{ final_weight_result }}</p>
                <br>
                <p>
                    <strong>Histórico de Evoluções:</strong>
                    <canvas id="evolutionsChart"
                            data-dates='{{ evaluation_dates|tojson }}'
                            data-weights='{{ evaluation_weights|tojson }}'
                            style="display: block; margin: 0 auto;">
                    </canvas>
                </p>
                <p class="final-message"><strong>{{ final_message }}</strong></p>
            </fieldset>
        </div>
        <div class="image-container">
            <img class="header-image" src="{{ url_for('static', filename='img/body_contour.jpeg') }}"
                alt="Imagem de Cabeçalho">
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='js/chart_config.js') }}"></script>
    </div>
</div>
{% else %}
<h3>O paciente ainda não possui avaliações.</h3>
{% endif %}

<br>
<div class="nav-actions">
    <a class="back-button" href="{{ url_for('patients.list_patients') }}">🔙 Voltar</a>
</div>

{% endblock %}
