{% extends "base.html" %}
{% block content %}
    <h2>Armazenar nova dieta</h2>
    <form method="POST" action="{{ url_for('admin.add_diet') }}">
        <label>Nome:</label>
        <input type="text" name="diet_name" required>
        <br>
        <label>Descrição:</label>
        <input type="text" name="diet_description" required>
        <br>
        <label for="file">Arquivo (pdf):</label>
        <input type="file" id="file" name="file">
        <br>
        <button type="submit">Armazenar</button>
    </form>
{% endblock %}
