{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
            {% set _ = session.pop('_flashes', None) %}
        {% endif %}
    {% endwith %}

    <h2>Dietas Disponíveis</h2>
    <a href="{{ url_for('admin.add_diet') }}">+ Adicionar Dietas</a>
    {% if diets %}
        <ul>
            {% for diet in diets %}
                <li>{{ diet.name }} -
                    <a href="{{ url_for('admin.view_diet', id=diet.id) }}" target="_blank">Ver</a>
                    &nbsp;
                    <a href="{{ url_for('admin.delete_diet', id=diet.id) }}">Remover</a>
                </li>
                <li>
                    <form method="POST" action="{{ url_for('admin.send_diet', diet_id=diet.id) }}">
                        <input type="text" name="telephone" placeholder="Telefone do paciente">
                        <button type="submit">Enviar por WhatsApp</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Ainda não existem dietas armazenadas</h3>
    {% endif %}
{% endblock %}
