<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmagreSER</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo-title">
            <img style="width: 60%;" src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo EmagreSER" class="logo">
            <img style="width: 15%;" src="{{ url_for('static', filename='img/logo1.png') }}" alt="Logo EmagreSER" class="logo">
        </div>
        <nav>
            <a href="/">Início</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('specialists.list_specialists') }}">Gerenciamento de Profissionais</a>
                <a href="{{ url_for('patients.list_patients') }}">Gerenciamento de Pacientes</a>
                <a href="{{ url_for('diets.list_diets') }}">Gerenciamento de Dietas</a>
                <a href="{{ url_for('schedules.list_schedules') }}">Gerenciamento de Agendamentos</a>
                <a href="{{ url_for('schedules.schedule_action') }}">Agendar Consulta</a>
            {% endif %}
        </nav>
    </header>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
