{% extends "base.html" %}

{% block content %}

<h2>CADASTRAMENTO DE USUÁRIOS NO SISTEMA</h2>
<br>
<form class="create-user-form" method="POST" action="{{ url_for('admin.create_user') }}">
    <div class="email-board">
        <label for="email">Email:</label>
        <input type="text" name="email" required>
    </div>
    <br>
    <div class="password-board">
        <label for="password">Senha:</label>
        <input type="password" name="password" required>
        <h4>A senha deve conter:</h4>
        <p class="instruction">&nbsp;<i>- Pelo menos 6 caracteres</i></p>
        <p class="instruction">&nbsp;<i>- Um caractere maiúsculo</i></p>
        <p class="instruction">&nbsp;<i>- Um caractere minúsculo</i></p>
        <p class="instruction">&nbsp;<i>- Um símbolo</i></p>
    </div>
    <br>
    <hr>
    <div class="role-setup">
        <label for="role">Qual é a função desse usuário?</label>
        <input type="radio" name="role" value="admin" required> Gestor
        <input type="radio" name="role" value="secretary" required> Secretária
        <input type="radio" name="role" value="nutritionist" required> Nutricionista
        <br><br>
    </div>
    <button type="submit">Cadastrar Usuário</button>
</form>
<script src="{{ url_for('static', filename='js/validate_register.js') }}"></script>

{% endblock %}
