{% extends "base.html" %}

{% block content %}
    <h2>Bem vindo, {{ current_user.email }}</h2>
    <p>Você está logado.</p>
    <a href="{{ url_for('security.logout') }}">Sair</a>
    <br>
    <a href="{{ url_for('security.change_password') }}">Trocar senha</a>
    <br>
    <a href="{{ url_for('admin.list_pacients') }}">Ver pacientes cadastrados</a>
    <br>
    <a href="{{ url_for('admin.list_diets') }}">Ver dietas disponíveis</a>
    <br>
    <a href="{{ url_for('schedules.list_schedules') }}">Ver agendamentos</a>
    <br>
    <a href="{{ url_for('schedules.schedule_action') }}">Agendar consulta</a>
{% endblock %}
